<div class="bs-example">
    <ul id="navHeader" class="nav nav-pills">
        <li>
          <div id="logo">OneList.</div>
        </li>
        <li><%= link_to "HOME", lists_path %></li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">ACTIONS <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><%= link_to "ADD A LIST", new_list_path %></li>
                <li><%= link_to "ADD A GROUP", new_group_path %></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
          <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">LISTS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @lists.each do |list| %>
                    <li><%= link_to list.name, user_list_path(list.user_id, list.id)%></li>
                  <% end %>
              </ul>

          <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">GROUPS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @groups.each do |group| %>
                    <li><%= link_to group.name, group_path(group.id) %></li>
                  <% end %>
                <% @members.each do |member| %>
                  <% group = Group.find_by(id: member.group_id) %>
                  <% if group != nil %>
                  <% if group.creator_id != session[:user_id] %>
                    <li><%= link_to group.name, group_path(group.id) %></li>
                  <% end %>
                <% end %>
              <% end %>
              <% if @multiLists %>
                <% @multiLists.each do |multiList| %>
                  <% group = Group.find_by(id: multiList.group_id) %>
                  <% if group != nil %>
                    <% if group.creator_id != session[:user_id] %>
                      <li><%= link_to group.name, group_path(group.id) %></li>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
              </ul>
          <li><%= link_to "INVITES", invites_path %></li>
          <li class="pull-right"><form method="POST" action="/session">
            <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
            <input name="_method" value="DELETE" type="hidden">
            <button>Logout</button>
          </form></li>
        <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">PROFILE <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Another action</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
    </ul>
    <hr id="headerDivider">


<div id="main-container" class="container-fluid">
  <div id="main-content" class="col-md-12">
    <div class="row">
    <div class="col-md-3">
      <h2><%= @group.name.upcase %>:</h2>
      <h4><%= @group.subtitle.upcase %></h4>
    </div>

      <div class="groupNav col-md-9">
      <% if @group.creator_id == session[:user_id]%>
        <div id="inviteButton" class="groupButton width"><%= link_to "INVITE", new_group_invite_path(@group.id) %></div>
      <% end %>
        <div id="addItemButton" class="groupButton width"><%= link_to "ADD ITEM", new_list_item_path(@list.id) %></div>
        <div id="sortPrice" class="groupButton width"><%= link_to "SORT BY PRICE", group_path(@group.id, :sort => "price") %></div>
      <div id="members" class="groupButton width dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">GROUP MEMBERS</a>
          <ul class="dropdown-menu">

            <% @multiLists.each do |multiList| %>
              <% if multiList.user_id != session[:user_id] %>
                <% user = User.find_by(id: multiList.user_id) %>
                <% group = Group.find_by(id: multiList.group_id) %>
                <% name = user.first_name + " " + user.last_name %>
                  <li class="memberDrop col-md-offset-1"><%= link_to name.upcase, group_multi_list_path(group.id,multiList.id) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
    <% if @group.creator_id == session[:user_id]%>
      <div id="delete" class="groupButton width"><%= link_to "DELETE GROUP", group_path, :method=> "delete" %></div>
    <% end %>
    </div>
  </div>
<div class="row">
      <h4><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %>'s List: </h4>

      <% @items.each do |item| %>
          <div id="itemIndex" class="col-md-2">
            <div><img id="imgIndex" src="<%= item.image_url %>"></div>
            </br>
            <div><a href="<%= item.url %>"><%= item.name %></a></div>
            <div>Price: <%= number_to_currency(item.price.to_i) %></div>
            <div><%= link_to "delete", [item.list, item], :confirm => "Are you sure you want to delete this comment?", :method => :delete %></div>
          </div>
        <% end %>





<!-- LINK TO LEAVE A MULTI LIST GROUP -->
      <% if @group.creator_id != session[:user_id] && @group.multi_list %>
        <% multiListId = MultiList.find_by(user_id: session[:user_id]) %>
        <%= link_to "LEAVE GROUP", group_member_path(@group, multiListId), :method=> "delete" %>
      <% end %>

    </div>
    <!-- <div id="sidebar" class="col-md-2">
      <div class="well well-large">
        invite link
        <% if @group.creator_id == session[:user_id]%>
          <div><%= link_to "Invite", new_group_invite_path(@group.id) %></div>
        <% end %>
        <div class="row">
          <div class="col-md-offset-1"><%= link_to "Group Home", group_path(@group.id)  %></div>
        </div>
        <h6>Group Members: </h6>
        <% @multiLists.each do |multiList| %>
          <% if multiList.user_id != session[:user_id] %>
            <% user = User.find_by(id: multiList.user_id) %>
            <% group = Group.find_by(id: multiList.group_id) %>
            <div class="row">
              <div class="col-md-offset-1"><%= link_to user.username, group_multi_list_path(group.id,multiList.id) %></div>
            </div>
          <% end %>
        <% end %>
        </div>
        LINK TO DELETE GROUP
              <% if @group.creator_id == session[:user_id]%>
                <div id="addButton" class="btn btn-danger"><%= link_to "DELETE GROUP", group_path, :method=> "delete" %></div>
              <% end %>

    </div> -->
  </div>
</div>
