<div class="bs-example">
    <ul id="navHeader" class="nav nav-pills">
        <li>
          <div id="logo"><a href="http://www.onelist.io">OneList.</a></div>
        </li>
    </ul>
    <hr id="headerDivider">

<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="signUp col-md-8 col-md-offset-2">
      <h1>WELCOME TO OneList.</h1>

      <h4>Sign up below to join!</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger" role="alert"><%= msg %></li>
        <% end %>
      </ul>
      <%= form_for @user do |f| %>
       <%= f.label :username %>
       <%= f.text_field :username %>
       </br >
       <%= f.label :password %>
       <%= f.password_field :password %>
       </br >
       <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation %>
       </br >
       <%= f.label :first_name %>
       <%= f.text_field :first_name %>
       </br >
       <%= f.label :last_name %>
       <%= f.text_field :last_name %>
       </br >
       <!-- <%= f.label :address %>
       <%= f.text_field :address %>
       </br >
       <%= f.label :address2 %>
       <%= f.text_field :address2 %>
       </br >
       <%= f.label :city %>
       <%= f.text_field :city %>
       </br >
       <%= f.label :state %>
       <%= f.text_field :state %>
       </br >
       <%= f.label :zip %>
       <%= f.text_field :zip %>
       </br > -->
       <%= f.label :email %>
       <%= f.email_field :email %>
       </br >
       <!-- <%= f.label :phone %>
       <%= f.telephone_field :phone %>
       </br > -->
       <%= f.submit "Sign Up"%>
      <% end %>
    </div>
  </div>
</div>
