<% if session[:username] == "jacksrf" %>

<% @lists.each do |list| %>
    <div class="row">
      <div class="col-md-1"><%= list.name %></div>
    </div>
    <% items = Item.where(list_id: list.id) %>
    <% items.each do |item| %>
      <div id="itemIndex" class="col-md-2">
        <div><img id="imgIndex" src="<%= item.image_url %>"></div>
        <div><a href="<%= item.url %>"><%= item.name %></a></div>
        <div>Price: <%= item.price %></div>
      </div>
      <% end %>
  <% end %>
  <% else %>
  <h1 class="alert alert-danger" role="alert">You dont have access to this!</h1>
  <%= link_to "go back", user_lists_path(session[:user_id]) %>
  <% end %>
